<!-- projectsコントローラのindexアクションに対応するviewの名前は、このファイル名のようになる。規約の一つである。 -->
<h1 class= "center jumbotron">Projects</h1>
<ul>
	<!--
	ループをまあしてあげる。
	ルビーを使うのに、%%でくくってあげる
	projectsの中身をprojectで回してあげればよい。
	以下はルビーの書き方

	ここの理解が中途半端・・・
	オブジェクト.each do |変数|
	  実行する処理1
	  実行する処理2
	end
	-->
	<% @projects.each do |project|%>

	<!-- 次に書いた式を評価して、その内容を表示しない際ということ -->
	<!-- リンクをつけたいので、link_to, project.name　リンク先のプロジェクトのパスを渡す必要がある。 -->
	<li>
		<%= link_to project.title,project_path(project.id) %>
		<%= link_to "[編集]", edit_project_path(project.id)%>
		<%= link_to "[削除]", project_path(project.id), method: :delete, data: {confirm: "Are you sure?"} %>
	</li>
	<% end %>
</ul>

<!--
link_to, 名前（表示してみえるもの）, パスの名前
追加するときの名前とlink先を指定してあげる、このときのpathはnew_projectで、そのURLはprojects/newになる、それでアクションはprojects#newなので、
そうか、
1.ビューのpathの指定と、
2.newのビューの作成、
3.アクションの作成をしてあげるだけでよい。
-->
<button type="button" class="btn btn-warning"><%= link_to "Add new", new_project_path, style:"color: white;" %></button>
